* {
  box-sizing: border-box;
}

body, ul, li, h1, h2, a{
    margin: 0;
    padding:0;
    font-family: arial;
    
}
header{
    background-color:black;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
}
h2 {
    background: white;
    text-align: center;
    border: 0px solid black;
    padding: 10px;
}
h3 {
    color: white;
    background: #95bdfa;
    text-align: center;
    border: 4px solid #95bdfa;
    border-radius: 5px;
    border-width: 70%;
    font-family: arial;
    padding: 5px;
}
nav {
    padding: 36px 0px;
    border-bottom: 3px solid black;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li{
    font-size: 28px;
}
nav li a{
  text-decoration: none;
  color: black;
}
nav li .prof{ /* FÖR ATT FÅ UNDERLINE FÖR ATT VISA SIDAN DU ÄR PÅ */
  text-decoration: underline;
}
nav li a:hover{
  text-shadow: 1px 1px gray;
}
/*nav a {
    text-decoration: none;
    color: black;
    width: 20%;
    display: inline-block;
}*/
.about {
    
    line-height: 20px;
    column-count: 4;
    column-gap: 50px;
    font-family: arial;
    padding: 15px;
   

}
 .profilImages ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} 
.profilImages {
    border: black solid 0px;
    background: white;
    color: black;
    padding: 1px;
    text-align: center;
    column-count: 3;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 850px) {
  .about {
    column-count: 2;
}
    
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 650px) {
  .text {font-size: 11px
  }
  
  .main-nav ul {
      display: flex;
      flex-direction: column;
    }
  .profilImages li{
    margin: 20px auto;
    display: inline-block;
    column-count: auto;

  }
  .about {
    column-count: auto;


}
    
}

.social-links {
  background-color: #f2f2f2;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 0;
  text-align: center;
}
.social-links li{
  width: 15%;
  display: inline-block;
}
.social-links img {
  width: 30%;
}
footer{
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background:#000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
