header{
    background-color:black;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;

}
h2 {
    background: white;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
h3 {
    color: white;
    background: #95bdfa;
    text-align: center;
    border: 4px solid #95bdfa;
    border-radius: 5px;
    border-width: 70%;
    font-family: arial;
    padding: 5px;
}
nav {
    color:white;
    background: gray;
    border: 2px solid lightslategray;
    text-align: center;
    font-family: arial;
    padding: 25px;
    white-space: nowrap;
    max-width: 1000;
    margin: 0 auto;
    position: sticky;
    top: 25px;

}
nav a {
    text-decoration: none;
    color: white;
    width: 20%;
    display: inline-block;
}
.about {
    line-height: 20px;
    column-count: 4;
    column-gap: 50px;
    font-family: arial;
    padding: 15px;

}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.profilimages {
    border: black solid 1px;
    background: white;
    color: black;
    padding: 1px;
    text-align: center;
    column-count: 3;
}/*
.profilimages span {
*/
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.social-links {
  background-color: #f2f2f2;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 0;
  text-align: center;
}
.social-links li{
  width: 15%;
  display: inline-block;
}
.social-links img {
  width: 30%;
}
footer{
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background:#000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}